<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create To-Do</title>
  <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
  <h1>Create</h1>
    <form action="#" th:action="@{/create}" th:object="${newToDo}" method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" th:field="*{name}" required><br>

      <label for="position">Position:</label>
      <input type="text" id="position" th:field="*{position}" required><br>

      <button type="submit">Create</button>
  </form>
</body>
</html>
